.footer {
    background-color: #6278f7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 300px;
    color: white;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 10%;
    height: 16px;
}

.logo {
    height: 40px;
}